.container-img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    width: auto;
    margin-top: 20px;
    padding: 10px;
    margin-right: 10px;
    opacity: 0;
    transform: translateX(-100px);
    animation: fly-in 0.5s ease forwards;
    
  }
  .container-img:nth-child(1) {
    animation-delay: 0s;
  }
  .container-img:nth-child(2) {
    animation-delay: 0.3s;
  }
  .container-img:nth-child(3) {
    animation-delay: 0.6s;
  }
  .container-img:nth-child(4) {
    animation-delay: 0.9s;
  }
  .container-img:nth-child(5) {
    animation-delay: 1.2s;
  }
  .container-img:nth-child(6) {
    animation-delay: 1.5s;
  }
  .container-img:nth-child(7) {
    animation-delay: 1.8s;
  }
  
  .container-img:last-child {
    margin-right: 0; /* remove the right margin from the last element */
  }


.container-top {
    margin: 40px auto;
}
@keyframes fly-in {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  